<%- include('../partials/header') %>
<div class="songbox">
    <h3 class="title sp-title"><%= song.title %></h3>
    <h3 class="artist sp-artist"><%= song.artist %></h3>
    <h3 class="streams sp-streams"><%= song.streams %></h3>
</div>
<%- include('../partials/footer') %>